# Dependencies
frontend/node_modules/
backend/node_modules/

# Environment variables
frontend/.env
backend/.env
.env

# Build
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/