.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.card {
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    text-align: center;
    border: 1px solid #eee;

}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
    color: #555;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}

.input:focus {
    border-color: rgb(215, 148, 148);
    box-shadow: 0 0 0 3px rgba(215, 148, 148, 0.25);
}

.error {
    color: red !important;
    font-size: 14px;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(215, 148, 148);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}