.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.form {
    width: 380px;
    max-height: 80vh;
    overflow-y: auto;

    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border: 1px solid #eee;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form h2 {
    margin: 0;
}

.form p {
    margin: 0;
    opacity: 0.7;
    font-size: 14px;
}

.form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.form input:focus {
    border-color: rgb(215, 148, 148);
    box-shadow: 0 0 0 3px rgba(215, 148, 148, 0.25);
}

.form label {
    font-size: 13px;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}

.form button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgb(215, 148, 148);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.9;
}

.form a {
    color: rgb(215, 148, 148);
    text-decoration: none;
}